.g4158 {
  height: 36px;
  left: 933px;
  position: absolute;
  top: 732px;
  width: 112px;
}

.overlap-group4-11 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 54px;
}

.polygon9 {
  height: 35px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 15px;
}

.path15 {
  height: 35px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.path17 {
  height: 19px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.path-container-27 {
  height: 36px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 58px;
}

.path11 {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 27px;
}

.path13 {
  height: 35px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 33px;
}

.g4158.g4158-1 {
  left: 944px;
  opacity: 0.18;
  top: 567px;
}

