.group-36-1 {
  align-items: flex-end;
  background-color: var(--swiss-coffee);
  display: flex;
  height: 84px;
  left: 1670px;
  min-width: 14px;
  padding: 23.0px 0.0px;
  position: absolute;
  top: 390px;
}

.device-that-you-can-use-4 {
  background-color: var(--black);
  height: 37px;
  width: 10px;
}

.group-36-1.group-37 {
  top: 585px;
}

.group-36-1.group-38 {
  top: 789px;
}

.group-36-1.group-39 {
  top: 1004px;
}

