.group-42-1 {
  align-items: flex-end;
  background-color: var(--blue);
  border-radius: 33px;
  box-shadow: 0px 8px 40px #0000000d;
  display: flex;
  height: 14px;
  left: 0;
  min-width: 72px;
  padding: 4.5px 30.0px;
  position: absolute;
  top: 0;
}

.sign-up-11 {
  letter-spacing: -0.01px;
  line-height: 2px;
  min-height: 5px;
  min-width: 8px;
  white-space: nowrap;
}

.group-42-1.group-44 {
  left: 1263px;
  top: 243px;
}

.group-42-1.group-45 {
  left: 1263px;
  top: 329px;
}

.group-42-1.group-46 {
  left: 1263px;
  top: 415px;
}

.group-42-1.group-47 {
  left: 1263px;
  top: 501px;
}

.group-42-1.group-48 {
  left: 1261px;
  top: 587px;
}

.group-42-1.group-49 {
  left: 1261px;
  top: 673px;
}

.group-42-1.group-50 {
  left: 1261px;
  top: 759px;
}

.group-42-1.group-51 {
  left: 1261px;
  top: 845px;
}

.group-42-1.group-52 {
  left: 1263px;
  top: 933px;
}

.group-42-1.group-53 {
  left: 1263px;
  top: 1019px;
}

.group-42-1.group-54 {
  left: 1263px;
  top: 1105px;
}

.group-42-1.group-55 {
  left: 1263px;
  top: 1191px;
}

