.group-41 {
  display: flex;
  height: 49px;
  position: relative;
  width: 1275px;
}

.group-41.group-41-1 {
  align-self: center;
  margin-right: 347.0px;
  margin-top: 16px;
}

.group-41.group-41-2,
.group-41.group-41-3,
.group-41.group-41-5,
.group-41.group-41-6,
.group-41.group-41-7,
.group-41.group-41-9,
.group-41.group-41-10 {
  align-self: center;
  margin-left: 65.0px;
  margin-top: 55px;
}

.group-41.group-41-4 {
  align-self: center;
  margin-left: 65.0px;
  margin-top: 87px;
}

.group-41.group-41-8 {
  margin-left: 1.0px;
  margin-top: 12px;
}

.group-41.group-41-11,
.group-41.group-41-12 {
  left: 387px;
  position: absolute;
  top: 87px;
}

