.group-22-1 {
  align-items: center;
  display: flex;
  height: 61px;
  left: 207px;
  min-width: 1146px;
  position: absolute;
  top: 798px;
}

.havarduniversity-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -11px;
  min-height: 60px;
  min-width: 98px;
  white-space: nowrap;
}

.film-production-animation-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -8px;
  margin-left: 74px;
  min-height: 60px;
  min-width: 156px;
  white-space: nowrap;
}

.masters-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 11.0px;
  margin-left: 49px;
  min-height: 30px;
  min-width: 81px;
  white-space: nowrap;
}

.post-graduate-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 11.0px;
  margin-left: 118px;
  min-height: 30px;
  min-width: 145px;
  white-space: nowrap;
}

.animation-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 11.0px;
  margin-left: 63px;
  min-height: 30px;
  min-width: 105px;
  white-space: nowrap;
}

.date-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 11.0px;
  margin-left: 156px;
  min-height: 30px;
  min-width: 101px;
  white-space: nowrap;
}

.group-22-1.group-23-1 {
  left: 211px;
  top: 897px;
}

.group-22-1.group-24-1 {
  left: 211px;
  top: 994px;
}

