.group-13 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 33px;
  box-shadow: 0px 8px 40px #0000000d;
  display: flex;
  height: 23px;
  left: 0;
  min-width: 118px;
  padding: 6.5px 49.0px;
  position: absolute;
  top: 0;
}

.sign-up-3 {
  letter-spacing: -0.02px;
  line-height: 4px;
  min-height: 7px;
  white-space: nowrap;
}

.group-13.group-12 {
  background-color: var(--red);
}

