.group-10-1 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 207px;
  min-width: 1349px;
  position: absolute;
  top: 683px;
}

.acts-schoolof-computing-as {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -16px;
  min-height: 90px;
  min-width: 140px;
  white-space: nowrap;
}

.computerscience {
  align-self: center;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 13.0px;
  margin-left: 32px;
  min-height: 60px;
  min-width: 104px;
  white-space: nowrap;
}

.a9052 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 101px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 103px;
  white-space: nowrap;
}

.undergraduate {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 96px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 156px;
  white-space: nowrap;
}

.degree {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 52px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 74px;
  white-space: nowrap;
}

.ethical-hacking {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 187px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 154px;
  white-space: nowrap;
}

.hybrid {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 83px;
  margin-top: 10px;
  min-height: 30px;
  white-space: nowrap;
}

.group-10-1.group-11-1 {
  top: 781px;
}

.group-10-1.group-12-1 {
  top: 883px;
}

.group-10-1.group-13-1 {
  top: 993px;
}

.group-10-1.group-10-2 {
  top: 585px;
}

