.group-902-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 33px;
  min-height: 119px;
  position: absolute;
  top: 281px;
  width: 280px;
}

.overlap-group5-9 {
  height: 85px;
  margin-top: 8px;
  position: relative;
  width: 241px;
}

.baraka-timothy {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.wallet-9 {
  left: 2px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ridhotijangmailco-47 {
  letter-spacing: -0.11px;
  line-height: 20px;
  margin-left: 2px;
  min-height: 29px;
  white-space: nowrap;
}

.group-902-4.group-902-5 {
  left: 32px;
  top: 165px;
}

