.group-10-3 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 207px;
  min-width: 1393px;
  position: absolute;
  top: 683px;
}

.anythingdesign-ealimited {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -16px;
  min-height: 90px;
  min-width: 99px;
  white-space: nowrap;
}

.graphics-visual-designer {
  align-self: center;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 13.0px;
  margin-left: 73px;
  min-height: 60px;
  min-width: 156px;
  white-space: nowrap;
}

.technology {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 49px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 118px;
  white-space: nowrap;
}

.design {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 81px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 70px;
  white-space: nowrap;
}

.chief-creativeofficer {
  align-self: center;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 1.0px;
  margin-left: 138px;
  min-height: 60px;
  min-width: 144px;
  white-space: nowrap;
}

.nairobi-kenya {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 117px;
  margin-top: 10px;
  min-height: 30px;
  min-width: 140px;
  white-space: nowrap;
}

.text-7 {
  align-self: center;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 1.0px;
  margin-left: 97px;
  min-height: 60px;
  min-width: 111px;
  white-space: nowrap;
}

.group-10-3.group-18-1 {
  left: 208px;
  top: 785px;
}

.group-10-3.group-19-1 {
  left: 208px;
  top: 883px;
}

.group-10-3.group-20-1 {
  left: 208px;
  top: 981px;
}

.group-10-3.group-10-4 {
  top: 791px;
}

