.group-963 {
  align-items: flex-start;
  display: flex;
  height: 49px;
  left: 115px;
  min-width: 934px;
  position: absolute;
  top: 755px;
}

.x231020220730-opm {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -10px;
  min-height: 50px;
  min-width: 83px;
  white-space: nowrap;
}

.x34-rtfd566567-dd {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 111px;
  margin-top: 3.5px;
  min-height: 25px;
  min-width: 145px;
  white-space: nowrap;
}

.t-baraka {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 67px;
  margin-top: 4.5px;
  min-height: 25px;
  min-width: 74px;
  white-space: nowrap;
}

.s-akinyi {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 63px;
  margin-top: 4.5px;
  min-height: 25px;
  min-width: 66px;
  white-space: nowrap;
}

.details-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 121px;
  margin-top: 3.5px;
  min-height: 25px;
  min-width: 58px;
  white-space: nowrap;
}

.price-10 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 93px;
  margin-top: 4.5px;
  min-height: 25px;
  white-space: nowrap;
}

.group-963.group-964 {
  left: 119px;
  top: 846px;
}

.group-963.group-965 {
  left: 117px;
  top: 957px;
}

