.settings-filled {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 24px;
  padding: 0 2px;
}

.settings-filled-1 {
  background-image: url(/static/img/settings-filled-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.settings-filled.settings-filled-8 {
  left: 80px;
  position: absolute;
  top: 771px;
}

.settings-filled.settings-filled-22,
.settings-filled.settings-filled-24 {
  left: 172px;
  position: absolute;
  top: 942px;
}

