.group-902 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 33px;
  min-height: 153px;
  position: absolute;
  top: 117px;
  width: 468px;
}

.overlap-group3-6 {
  height: 85px;
  margin-top: 8px;
  position: relative;
  width: 468px;
}

.thermodynamics-moi-ui905 {
  left: 0;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.study-hub-3 {
  left: 2px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ridhotijangmailco-container {
  align-items: flex-start;
  display: flex;
  gap: 38px;
  height: 29px;
  margin-left: 2px;
  margin-top: 2px;
  min-width: 266px;
}

.ridhotijangmailco-30 {
  letter-spacing: -0.11px;
  line-height: 20px;
  min-height: 29px;
  min-width: 73px;
  white-space: nowrap;
}

.ridhotijangmailco-31 {
  letter-spacing: -0.11px;
  line-height: 20px;
  min-height: 29px;
  white-space: nowrap;
}

.ridhotijangmailco-32 {
  letter-spacing: -0.11px;
  line-height: 20px;
  margin-top: 5px;
  min-height: 29px;
  white-space: nowrap;
}

.group-902.group-902-1 {
  left: unset;
  margin-left: 14.0px;
  position: unset;
  top: unset;
}

.group-902.group-902-2 {
  left: unset;
  margin-left: 21.0px;
  position: unset;
  top: unset;
}

.group-902.group-902-3 {
  left: unset;
  position: unset;
  top: unset;
}

