.community-18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1280px;
  overflow: hidden;
  width: 1920px;
}

.overlap-group3-13 {
  height: 1330px;
  margin-left: -64px;
  margin-top: -43px;
  position: relative;
  width: 1984px;
}

.pexels-tima-miroshnichenko-5198252 {
  height: 1323px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1984px;
}

.rounded-rectangle-1-copy-15-8 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0001010f;
  height: 1102px;
  left: 492px;
  opacity: 0.62;
  position: absolute;
  top: 171px;
  width: 1465px;
}

.bg-18 {
  height: 1120px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: 400px;
}

.bg-19 {
  height: 60px;
  left: 151px;
  object-fit: cover;
  position: absolute;
  top: 731px;
  width: 300px;
}

.image-53 {
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
  left: 177px;
  position: absolute;
  top: 1093px;
  width: 60px;
}

.baraka-15 {
  left: 177px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1168px;
  white-space: nowrap;
}

.path-container-33 {
  height: 54px;
  left: 162px;
  position: absolute;
  top: 228px;
  width: 72px;
}

.path-1-38 {
  height: 54px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 61px;
}

.path-2-12 {
  height: 45px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 50px;
}

.new-to-acts-11 {
  left: 248px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 231px;
  white-space: nowrap;
}

.sign-in-11 {
  left: 248px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 264px;
  white-space: nowrap;
}

.dashboard-25 {
  left: 206px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 424px;
  white-space: nowrap;
}

.resources-11 {
  left: 207px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 624px;
  white-space: nowrap;
}

.conferencing-11 {
  left: 207px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 688px;
  white-space: nowrap;
}

.community-19 {
  left: 210px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 752px;
  white-space: nowrap;
}

.reports-11 {
  left: 210px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 816px;
  white-space: nowrap;
}

.wallet-16 {
  left: 210px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 880px;
  white-space: nowrap;
}

.setting-11 {
  left: 210px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 944px;
  white-space: nowrap;
}

.support-11 {
  left: 211px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 1009px;
  white-space: nowrap;
}

.study-hub-13 {
  left: 206px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.line-container-27 {
  height: 11px;
  left: 309px;
  position: absolute;
  top: 271px;
  width: 22px;
}

.line-11-26 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 22px;
}

.line-12-26 {
  height: 7px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 7px;
}

.line-13-26 {
  height: 7px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 7px;
}

.library-21 {
  left: 206px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 558px;
  white-space: nowrap;
}

.home-11 {
  background-position: 50% 50%;
  background-size: cover;
  height: 19px;
  left: 170px;
  position: absolute;
  top: 424px;
  width: 19px;
}

.book-11 {
  background-position: 50% 50%;
  background-size: cover;
  height: 20px;
  left: 172px;
  position: absolute;
  top: 559px;
  width: 17px;
}

.combined-shape-22 {
  height: 19px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 688px;
  width: 20px;
}

.combined-shape-23 {
  height: 18px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 623px;
  width: 25px;
}

.brandon-collins {
  align-items: flex-start;
  background-color: var(--ebony-clay-2);
  border-radius: 10px;
  box-shadow: 10px 10px 40px #2a59980d;
  display: flex;
  flex-direction: column;
  left: 928px;
  min-height: 363px;
  padding: 22px 0;
  position: absolute;
  top: 891px;
  width: 330px;
}

.flex-row-117 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 157px;
  height: 108px;
  margin-right: 8.0px;
  min-width: 262px;
  position: relative;
}

.phone-8 {
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin-left: 30.0px;
  margin-top: 20px;
  width: 132px;
}

.phone-call-1 {
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 1.4px;
  margin-left: 0;
  margin-top: 2.0px;
  width: 16.54px;
}

.text-17-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -5px;
  margin-right: -2px;
  margin-top: 3px;
  white-space: nowrap;
  width: 105px;
}

.rectangle-130 {
  background-color: var(--ebony-clay-2);
  border: 1px solid;
  border-color: var(--french-gray);
  border-radius: 5px;
  height: 60px;
  left: 928px;
  position: absolute;
  top: 444px;
  width: 1010px;
}

.search-31 {
  left: 982px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.search-32 {
  background-position: 50% 50%;
  background-size: cover;
  height: 19px;
  left: 909px;
  position: absolute;
  top: 464px;
  width: 19px;
}

.bg-20 {
  height: 965px;
  left: 445px;
  object-fit: cover;
  position: absolute;
  top: 365px;
  width: 550px;
}

.andreea-wade-8 {
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 550px;
  position: absolute;
  top: 840px;
  width: 229px;
}

.recent-message-1 {
  left: 550px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 582px;
  white-space: nowrap;
}

.rectangle-136 {
  background-color: var(--eden);
  border: 1px solid;
  border-color: var(--french-gray);
  border-radius: 5px;
  height: 245px;
  left: 520px;
  position: absolute;
  top: 187px;
  width: 1418px;
}

.ads-here-1 {
  left: 565px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 298px;
  white-space: nowrap;
}

