.group-9-2-1 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 80px;
  left: 2px;
  min-width: 1283px;
  position: absolute;
  top: 85px;
}

.overlap-group-25 {
  align-self: flex-end;
  height: 86px;
  margin-bottom: -6.5px;
  position: relative;
  width: 1194px;
}

.bg-35 {
  background-color: var(--blue-chalk);
  border-radius: 10px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1194px;
}

.institution-go-fun-1 {
  left: 85px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.startup-funding-opportunity-1 {
  left: 85px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.grunteligibility-east-africa-1 {
  left: 653px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.type-of-funding-2 {
  left: 653px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.september-30th-2022-1 {
  left: 906px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.application-deadline-1 {
  left: 906px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.area-of-funding-agricultur-1 {
  left: 368px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.amount-10000-1 {
  left: 368px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.overlap-group-container-45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 8.0px;
  min-height: 48px;
  width: 73px;
}

.overlap-group-26 {
  align-items: flex-end;
  background-color: var(--eden);
  border-radius: 33px;
  box-shadow: 0px 8px 40px #0000000d;
  display: flex;
  height: 14px;
  justify-content: flex-end;
  min-width: 72px;
  padding: 0 21.0px;
}

.never-received-or-fo-43 {
  letter-spacing: -0.04px;
  line-height: 8px;
  margin-bottom: -0.5px;
  min-height: 13px;
  min-width: 26px;
  white-space: nowrap;
}

.overlap-group-27 {
  border-radius: 33px;
  height: 14px;
  position: relative;
  width: 72px;
}

.never-received-or-fo-44 {
  left: 22px;
  letter-spacing: -0.04px;
  line-height: 8px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.overlap-group-28 {
  align-items: flex-end;
  background-color: var(--red);
  border-radius: 33px;
  box-shadow: 0px 8px 40px #0000000d;
  display: flex;
  height: 14px;
  justify-content: flex-end;
  margin-left: 0.5px;
  min-width: 72px;
  padding: 0 22.5px;
}

.never-received-or-fo-45 {
  letter-spacing: -0.04px;
  line-height: 8px;
  margin-bottom: -0.5px;
  min-height: 13px;
  min-width: 22px;
  white-space: nowrap;
}

.group-9-2-1.group-967 {
  left: unset;
  margin-right: 6.5px;
  margin-top: 7px;
  position: unset;
  top: unset;
}

.group-9-2-1.group-969 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 80px;
  margin-right: 0.5px;
  margin-top: 7px;
  min-width: 1283px;
}

.group-9-2-1.group-971 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 80px;
  margin-left: 5.5px;
  margin-top: 7px;
  min-width: 1283px;
}

.group-9-2-1.group-973 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 16px;
  height: 80px;
  margin-top: 7px;
  min-width: 1283px;
}

